cryptography
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
flask-sock
getmac
numpy
openpyxl
pandas
plotly
psycopg2-binary
gunicorn
pylogix
simple-websocket
SQLAlchemy
Werkzeug
wsproto
XlsxWriter
pdfkit


