cryptography
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
flask-sock
getmac
gunicorn
numpy
openpyxl
pandas
pdfkit
plotly
psycopg2-binary
pylogix
simple-websocket
SQLAlchemy
Werkzeug
wsproto
XlsxWriter

# PDF generation
WeasyPrint
cairosvg
cairocffi
tinycss2
cssselect2
