{% extends 'base.html' %}
{% block content %}
<div class="analytics-content">
    <!-- Tabs -->
    <div class="tabs">
        <button class="tab-button {% if tab == 'data' %}active{% endif %}"><a href="{{ url_for('analytics_tab', tab='data') }}" style="text-decoration: none; color: #005da2;">Data View</a></button>
        <button class="tab-button {% if tab == 'graph' %}active{% endif %}"><a href="{{ url_for('analytics_tab', tab='graph') }}" style="text-decoration: none; color: #005da2;">Graphical View</a></button>
    </div>

    <!-- Tab Contents -->
    <div id="data" class="tab-content" style="display: {% if tab == 'data' %}block{% else %}none{% endif %};">
        {% block analytics_dataview %}{% endblock %}
    </div>

    <div id="graph" class="tab-content" style="display: {% if tab == 'graph' %}block{% else %}none{% endif %};">
        {% block analytics_graphicalview %}{% endblock %}
    </div>
</div>
{% endblock %}