{% extends 'base.html' %}
{% block content %}
<div class="inv-navbar">
    <div class="inv-navbar-left">
        <h3 class="inv-app-title">DeviceHub</h3>
    </div>
</div>
<div class="devicehub-content">
    <!-- Tabs -->
    <div class="tabs">
        <button class="tab-button {% if tab == 'devices' %}active{% endif %}"><a href="{{ url_for('devicehub_tab', tab='devices') }}" style="text-decoration: none; color: #005da2;">Devices</a></button>
        <button class="tab-button {% if tab == 'tags' %}active{% endif %}"><a href="{{ url_for('devicehub_tab', tab='tags') }}" style="text-decoration: none; color: #005da2;">Tags</a></button>
    </div>

    <!-- Tab Contents -->
    <div id="devices" class="tab-content" style="display: {% if tab == 'devices' %}block{% else %}none{% endif %};">
        {% block devicehub_devices %}{% endblock %}
    </div>

    <div id="tags" class="tab-content" style="display: {% if tab == 'tags' %}block{% else %}none{% endif %};">
        {% block devicehub_tags %}{% endblock %}
    </div>
</div>
{% endblock %}
